<div id="wishlist_header" class="row">
  <h1><%= Spree.t(:default_wishlist_name) %></h1>
</div>
<div id="wishlist_page" >
<table id="wishlist">
  <thead>
    <tr>
      <th><%= Spree.t(:item_view) %></th>
      <th><%= Spree.t(:item_description) %></th>
      <th><%= Spree.t(:availability) %></th>
      <th><%= Spree.t(:date_added) %></th>
      <th><%= Spree.t(:price) %></th>
      <% if @wishlist.user == spree_current_user %>
        <th><%= Spree.t(:wishlist_actions) %></th>
      <% end -%>
    </tr>
  </thead>
  <tbody id="line_items">
  <% if @wishlist.wished_products.size > 0 %>
    <% @wishlist.wished_products.each do |wish|
        variant = wish.variant
        product = variant.product %>
    <tr class="line_item">
      <td class="wishlist_image">
        <% if variant.images.length == 0 %>
          <%= small_image(variant.product) %>
        <% else %>
          <%= image_tag variant.images.first.attachment.url(:mini) %>
        <% end %>
      </td>

      <td class="wishlist_name">
        <h4><%= link_to "VISUALIZAR " + product.name, product %></h4>
        <p><%= variant_options variant %></p>
        <%= truncate(product.description, :length => 100, :omission => "...") %>
      </td>
      <td class="wishlist_availability">
        <%= variant.in_stock? ? Spree.t(:in_stock) : Spree.t(:out_of_stock) %>
      </td>
      <td class="wishlist_date">
        <%= wish.created_at.strftime "%d/%m/%Y" %>
      </td>
      <td class="wishlist_price">
        <%= number_to_currency(variant.price) %>
      </td>
      <% if @wishlist.user == spree_current_user %>
        <td class="wishlist_actions">
          <p><%= link_to Spree.t(:remove_from_wishlist), wish, :method => :delete, :class => 'button' %></p>
          <%= form_for :order, :url => populate_orders_url do |f| %>
            <%= hidden_field_tag "variants[#{variant.id}]", 1, :size => 3 %>
            <%= link_to Spree.t(:add_to_cart), '#', :onclick => "$(this).parent().submit(); return false;", :class => "button" %>
          <% end %>
          <% if spree_current_user.wishlists.count > 1 %>
            <%= Spree.t(:move_to_another_wishlist) %>:
            <%= form_for wish do |f| %>
              <%= f.select :wishlist_id, spree_current_user.wishlists.map{|wl| [wl.name, wl.id]} %>
              <%= f.submit Spree.t(:move) %>
            <% end %>
          <% end %>
          <br />
        </td>
      <% end -%>
    </tr>
    <% end -%>
  <% else -%>
    <tr>
      <td colspan="6"><%= Spree.t(:your_wishlist_is_empty) %></td>
    </tr>
  <% end -%>
  </tbody>
</table>
<div class="footer_links" data-hook="wishlist_footer_links">
<%= link_to Spree.t(:continue_shopping), products_path, :class => "button" %>
<% if respond_to?(:email_to_friend_url) %>
  <%= link_to Spree.t('email_to_friend.send_to_friend'), email_to_friend_url('wishlist', @wishlist), :class => "button" %>
<% end %>
</div>

</div>
