<h3><%= Spree.t(:default_wishlist_name) %></h3>
<div>
<ul id="mywishlist" >
<% @user.wishlists.each do |wl| %>
  <% if !wl.is_private? || @user == spree_current_user %>
  <li><%= link_to Spree.t(:see_wishlist), wl %></li>
  <% end -%>
<% end -%>
</ul>
</div>
